*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#f5f7fb;
    overflow:hidden;
}

.main-layout{
    display:flex;
    height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#fff;
    border-right:1px solid #e5e7eb;
    padding:22px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo-wrap{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:42px;
}

.logo-icon{
    width:48px;
    height:48px;
    background:#1456c5;
    border-radius:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:22px;
}

.logo-wrap h3{
    font-size:20px;
    font-weight:800;
    margin-bottom:2px;
}

.logo-wrap p{
    font-size:11px;
    color:#64748b;
    letter-spacing:.8px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.menu-item{
    text-decoration:none;
    color:#64748b;
    padding:14px 16px;
    border-radius:14px;
    display:flex;
    align-items:center;
    gap:12px;
    font-weight:500;
    transition:.3s;
}

.menu-item:hover{
    background:#edf4ff;
    color:#1456c5;
}

.menu-item.active{
    background:#dfeaff;
    color:#1456c5;
}

.doctor-profile{
    margin-top:28px;
    display:flex;
    align-items:center;
    gap:12px;
}

.doctor-profile img{
    width:42px;
    height:42px;
    border-radius:50%;
}

.doctor-profile h6{
    margin:0;
    font-size:14px;
}

.doctor-profile span{
    font-size:12px;
    color:#64748b;
}

/* CHAT LIST */

.chat-list-section{
    width:320px;
    background:#fff;
    border-right:1px solid #e5e7eb;
    display:flex;
    flex-direction:column;
}

.chat-search{
    padding:18px;
    position:relative;
    border-bottom:1px solid #eef2f7;
}

.chat-search i{
    position:absolute;
    left:32px;
    top:50%;
    transform:translateY(-50%);
    color:#64748b;
}

.chat-search input{
    width:100%;
    height:44px;
    border:none;
    background:#f3f5f9;
    border-radius:14px;
    padding-left:44px;
    outline:none;
}

.chat-list{
    padding:10px 0;
}

.chat-user{
    display:flex;
    align-items:flex-start;
    gap:14px;
    padding:16px 18px;
    cursor:pointer;
    transition:.3s;
}

.chat-user:hover{
    background:#f7faff;
}

.active-chat{
    background:#dfeaff;
    border-right:3px solid #1456c5;
}

.avatar-wrap{
    position:relative;
}

.avatar-wrap img{
    width:46px;
    height:46px;
    border-radius:50%;
    object-fit:cover;
}

.online-dot{
    width:10px;
    height:10px;
    background:#22c55e;
    border-radius:50%;
    position:absolute;
    bottom:2px;
    right:1px;
    border:2px solid #fff;
}

.chat-user-info{
    width:100%;
}

.chat-user-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:4px;
}

.chat-user-top h6{
    margin:0;
    font-size:16px;
}

.chat-user-top span{
    font-size:12px;
    color:#64748b;
}

.chat-user-info p{
    margin:0;
    color:#1456c5;
    font-size:14px;
}

.chat-user-info small{
    color:#475569;
}

/* CHAT AREA */

.chat-area{
    flex:1;
    display:flex;
    flex-direction:column;
    background:#f8fafc;
}

.chat-header{
    background:#fff;
    height:72px;
    border-bottom:1px solid #e5e7eb;
    padding:0 24px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.chat-header-user{
    display:flex;
    align-items:center;
    gap:14px;
}

.chat-header-user h6{
    margin:0;
    font-size:18px;
}

.chat-header-user span{
    color:#22c55e;
    font-size:13px;
}

.chat-header-icons{
    display:flex;
    gap:22px;
    font-size:20px;
    color:#374151;
}

.chat-body{
    flex:1;
    overflow-y:auto;
    padding:28px;
}

.chat-date{
    background:#e5e7eb;
    width:max-content;
    margin:auto;
    padding:6px 14px;
    border-radius:999px;
    font-size:12px;
    color:#475569;
    margin-bottom:28px;
}

.message-row{
    display:flex;
    margin-bottom:8px;
}

.left{
    justify-content:flex-start;
}

.right{
    justify-content:flex-end;
}

.message-bubble{
    max-width:430px;
    padding:18px 20px;
    border-radius:20px;
    line-height:1.7;
    font-size:15px;
}

.gray{
    background:#ececec;
    color:#1e293b;
}

.blue{
    background:#1456c5;
    color:#fff;
}

.message-time{
    font-size:12px;
    color:#64748b;
    margin-bottom:18px;
}

.left-time{
    margin-left:8px;
}

.right-time{
    text-align:right;
}

.image-card{
    width:240px;
    background:#ececec;
    border-radius:18px;
    overflow:hidden;
    padding-bottom:12px;
}

.image-card img{
    width:100%;
    height:160px;
    object-fit:cover;
}

.image-card p{
    padding:10px 14px 0;
    font-size:14px;
}

/* FILE */

.file-card{
    width:320px;
    background:#f3f4f6;
    border:1px solid #d1d5db;
    border-radius:18px;
    padding:14px 16px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.file-left{
    display:flex;
    align-items:center;
    gap:14px;
}

.pdf-icon{
    width:42px;
    height:42px;
    border-radius:12px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#dc2626;
    font-size:22px;
}

.file-left h6{
    margin:0;
    font-size:14px;
}

.file-left span{
    font-size:12px;
    color:#64748b;
}

/* INPUT */

.chat-input{
    height:80px;
    background:#fff;
    border-top:1px solid #e5e7eb;
    display:flex;
    align-items:center;
    gap:14px;
    padding:0 20px;
}

.input-icons{
    display:flex;
    gap:16px;
    font-size:22px;
    color:#374151;
}

.chat-input input{
    flex:1;
    height:48px;
    border:none;
    background:#f1f5f9;
    border-radius:16px;
    padding:0 18px;
    outline:none;
}

.chat-input button{
    width:42px;
    height:42px;
    border:none;
    border-radius:14px;
    background:#1456c5;
    color:#fff;
    font-size:18px;
}
